
mixin Official
  :markdown
    [Clojure](http://clojure.org/)
    [Clojure Doc Site](http://clojure-doc.org/)
    [Clojure 中文 Wiki](http://wiki.clojure.cn/index.php?title=首页)
    [Google Groups: Clojure](https://groups.google.com/forum/?fromgroups=#!forum/clojure)
    [cn-clojure 是由中国 Clojure 用户自发创立的社区](http://cnlojure.org/)
    [Clojure - Functional Programming for the JVM](http://java.ociweb.com/mark/clojure/article.html)
    [ClojureDocs is a community-powered documentation and examples repository for the Clojure programming language.](http://clojuredocs.org/)
    [CN-Clojure](https://groups.google.com/forum/?fromgroups=#!forum/cn-clojure)
    [Try Clojure](http://tryclj.com/)
    [Clojure - Github](https://github.com/clojure/clojure)
    [from Clojure/core](http://clojure.com/)
    [ns planet.clojure](http://planet.clojure.in/)

mixin Language
  :markdown
    [Monads in Clojure](http://www.intensivesystems.net/tutorials/monads_101.html)
    [Some thoughts on Clojure performance](http://martinsprogrammingblog.blogspot.de/2012/02/why-is-clojure-so-slow.html)
    [Teaching Programming with the Kernel Language Approach](http://www.sics.se/~seif/Publications/fdp.pdf)
    [An Introduction to Lisp Macros, by David Nolen](http://vimeo.com/23907627)
    [Leaky Clojure Macros](http://theatticlight.net/posts/Leaky-Clojure-Macros/)
    [Python becomes a platform](http://khinsen.wordpress.com/2012/03/15/python-becomes-a-platform/)
    [protocol based polymorphism](http://jeditoolkit.com/2012/03/21/protocol-based-polymorphism.html#post)
    [The RedMonk Programming Language Rankings: February 2012](http://redmonk.com/sogrady/2012/02/08/language-rankings-2-2012/)
    [Thoughts on Clojure Package Management](http://stuartsierra.com/2009/08/31/thoughts-on-clojure-package-management)
    [Programming language development: the past 5 years](
      http://blog.fogus.me/2011/10/18/programming-language-development-the-past-5-years/)
    [Perlis Languages](http://blog.fogus.me/2011/08/14/perlis-languages/)

mixin Deploy
  :markdown
    [Running a Clojure Script in a Maven Build](http://www.stuartgunter.org/running-clojure-script-maven-build/)
    [Deploying your Clojure apps to Cloud Foundry](https://github.com/videlalvaro/cloudfoundry-clojure-demo/)
    [Clojure on Heroku with Noir and Mongo in 10 minutes](http://zoomquiet.org/res/scrapbook/ZqFLOSS/data/20120301213518/)

mixin Tools
  :markdown
    [Leiningen: for automating Clojure projects without setting your hair on fire](http://leiningen.org/)
    [Clojars is a dead easy community repository for open source Clojure libraries.](https://clojars.org/)
    [Using Leiningen to build Clojure code](http://alexott.net/en/clojure/ClojureLein.html)
    [Drip: Fast JVM launching without the hassle of persistent JVMs.](https://github.com/flatland/drip)
    [Clojars and Leiningen Automate Library and Dependency Management for Clojure](http://www.infoq.com/news/2009/11/clojars-leiningen-clojure)
    [Seesaw turns the Horror of Swing into a friendly, well-documented, Clojure library](https://github.com/daveray/seesaw)
    [Scripting Clojure with Leiningen 2](http://charsequence.blogspot.in/2012/04/scripting-clojure-with-leiningen-2.html)
    [Live-Debugging Remote Clojure apps with Drawbridge](https://devcenter.heroku.com/articles/debugging-clojure)
    [使用 Clojars 与 Leiningen 自动管理 Clojure 类库及依赖](http://www.infoq.com/cn/news/2009/11/clojars-leiningen-clojure)
    [What's the difference between Cake and Leiningen?](
      http://stackoverflow.com/questions/3906276/whats-the-difference-between-cake-and-leiningen)
    [A Leiningen Tutorial](http://blog.8thlight.com/colin-jones/2010/11/26/a-leiningen-tutorial.html)
    [The Central Repository Browser](http://search.maven.org/#browse%7C47)


mixin Editor
  :markdown
    [Clojure Quickstart with Sublime Text 2](http://internistic.blogspot.ca/2012/11/clojure-quickstart-with-sublime-text-2.html)
    [Learning Clojure and Emacs](http://lifeofaprogrammergeek.blogspot.com/2009/03/learning-clojure-and-emacs.html)
    [Light Table & Chris gGranger' blog](http://www.chris-granger.com/)
    [Setting Up Clojure for Mac OS X Leopard](http://mark.reid.name/sap/setting-up-clojure.html)

mixin Learn
  :markdown
    [Clojure Lisp Programming](http://www.udemy.com/clojure-code)
    [Why Clojure?](http://thecleancoder.blogspot.com.es/2010/08/why-clojure.html)
    [Huangz/Notes](http://right-track-wrong-train.readthedocs.org/en/latest/index.html)
    [Clojure By Example: Beginners](http://www.udemy.com/clojure-beginner/)
    [Clojure Libs and Namespaces: require, use, import, and ns](
      http://blog.8thlight.com/colin-jones/2010/12/05/clojure-libs-and-namespaces-require-use-import-and-ns.html)
    [Look, Ma! No batteries! A Clojure Web App Without Noir](
      http://www.flyingmachinestudios.com/programming/dissecting-gratefulplace/)
    [Clojure Tutorial For the Non-Lisp Programmer](http://moxleystratton.com/clojure/clojure-tutorial-for-the-non-lisp-programmer)
    [Learning Clojure through the REPL](http://www.lurklurk.org/clj_repl/clj_repl.html)
    [The Newbie’s Guide to Learning Clojure](http://www.elangocheran.com/blog/2012/03/the-newbies-guide-learning-clojure/)
    [A Brief Beginner's Guide To Clojure](http://www.unexpected-vortices.com/clojure/brief-beginners-guide/toc.html)
    [Clojure Programming/Examples/Cookbook](http://en.wikibooks.org/wiki/Clojure_Programming/Examples/Cookbook)
    [Clojure: Why would someone learn Clojure?](http://www.quora.com/Clojure/Why-would-someone-learn-Clojure/answer/Leo-Polovets?srid=hK5)
    [4Clojure is a resource to help fledgling clojurians learn the language through interactive problems](http://www.4clojure.com/)
    [A busy person’s introduction to Clojure](http://eddology.com/post/14592579289/busy-persons-clojure)
    [Learn Clojure](http://learn-clojure.com/)
    [Clojure 入门教程: Clojure – Functional Programming for the JVM 中文版](
      http://xumingming.sinaapp.com/302/clojure-functional-programming-for-the-jvm-clojure-tutorial/)
    [why clojure? 翻译](http://xumingming.sinaapp.com/294/why-clojure/)
    [Clojure Programming/Getting Started](http://en.wikibooks.org/wiki/Clojure_Programming/Getting_Started)

mixin Talks
  :markdown
    [Stuart Sierra - Podcast Episode 018](http://thinkrelevance.com/blog/2012/10/10/stuart-sierra-podcast-episode-018)
    [Real World Clojure - Doing Boring Stuff With An Exciting Language](http://www.infoq.com/presentations/Real-World-Clojure)
    [Video: Starting Clojure](http://www.youtube.com/watch?v=VVd4ow-ZcX0)
    [Clojure for OOP folks](http://www.innoq.com/blog/st/presentations/2012/2012-05-24-ClojureOOP-EuroClojure.pdf)
    [Clojure 概览](http://www.slideshare.net/killme2008/clojure-8785955)
    [Clojure 开发的生命周期管理](http://www.slideshare.net/sunng87/clojure-cnclojuremeetup)
    [Rich Hickey on Clojure 1.4's Extensible Reader, ClojureScript](http://www.infoq.com/interviews/hickey-clojure-reader)
    [NYC Clojure Users Group 8/17/2011 - David Nolen, Pattern Matching & Predicate Dispatch](http://vimeo.com/27860102)
    [E2E: Rich Hickey, Brian Beckm[an - Inside Clojure](http://v.youku.com/v_show/id_XMTMzODYwMTY0.html)
    [Event-Driven Programming in Clojure](http://www.infoq.com/presentations/Event-Driven-Programming-in-Clojure)
    [Clojure is one answer](http://onbeyondlambda.blogspot.com/2012/01/my-last-post-was-link-to-video-talking.html)
    [Clojure 的魅力](http://www.slideshare.net/killme2008/clojure-4987655)
    [Clojure Concurrency](http://blip.tv/clojure/clojure-concurrency-819147)
    [More Conj 2011 Videos Available](http://clojure.com/blog/2012/02/06/more-conj-2011-videos-available.html)
    [Slides from Alfresco the Clojure way](http://skuro.tk/2011/11/10/slides-from-alfresco-the-clojure-way/)

mixin Resources
  :markdown
    [ClojureSphere](http://clojuresphere.herokuapp.com/)
    [A tour of the Clojure landscape](http://ericlavigne.wordpress.com/2011/01/30/a-tour-of-the-clojure-landscape/)
    [The Clojure Daily](http://paper.li/ajlopez/1291580164)
    [Growing a DSL with Clojure](http://pragprog.com/magazines/2011-07/growing-a-dsl-with-clojure)
    [fogus: Clojure Obscura](http://blog.fogus.me/2012/07/09/clojure-obscura/)
    [Rough Notes from the July 18 Clojure NYC Meetup](https://gist.github.com/3152034)
    [Ask HN: Clojure vs Haskell for a first functional language?](http://news.ycombinator.com/item?id=4122764)

mixin Books
  :markdown
    [The Little Schemer in Clojure](http://juliangamble.com/blog/2012/07/20/the-little-schemer-in-clojure/)
    [PCL(Practical Common Lisp) -> Clojure](http://thinkrelevance.com/blog/2008/09/16/pcl-clojure)
    [On Lisp in Clojure chapters](http://onbeyondlambda.blogspot.com/)
    [clojure-doc-en2ch](http://code.google.com/p/clojure-doc-en2ch/w/list)
    [casting spels in Lisp](http://www.lisperati.com/clojure-spels/casting.html)
    [SICP in Clojure](http://sicpinclojure.com/)
    [The Joy of Clojure](http://joyofclojure.com/)

mixin Projects
  :markdown
    [This is compiler for the Clojure programming language that targets C as a backend](
      https://github.com/schani/clojurec)
    [DEUCE - Deuce is (not yet) Emacs under Clojure](https://github.com/hraberg/deuce)
    [C2: Clojure(Script) data visualization](http://keminglabs.com/c2/)
    [神.clj | Shen for Clojure](https://github.com/hraberg/shen.clj)
    [clojure-py: An implementation of Clojure in pure Python](https://github.com/halgari/clojure-py)
    [Scriptjure is a Clojure library for generating javascript from Clojure forms](https://github.com/arohner/scriptjure)
    [LLVM Clojure Bindings and Toy Language](https://github.com/jasonjckn/llvm-clojure-bindings)
    [Clojure-based, R-like statistical computing and graphics environment for the JVM](https://github.com/liebke/incanter)
    [Fractals in Clojure - Buddhabrot Fractal](http://nakkaya.com/2009/10/04/fractals-in-clojure-buddhabrot-fractal/)
    [clj is a Clojure REPL and package management system](https://github.com/ghoseb/clj)
    [Tasty SQL for Clojure](http://sqlkorma.com/docs)
    [Noir: the Clojure web framework](http://www.webnoir.org/)

mixin Blogs
  :markdown
    [The Caves of Clojure](http://stevelosh.com/blog/2012/07/caves-of-clojure-03-1/)
    [So long, and thanks for all the <-(:> :-)-<](http://blog.fogus.me/2012/07/27/so-long-and-thanks-for-all-the-queue-fish/)
    [Another year of clojure](http://spootnik.org/entries/2012/07/04_another-year-of-clojure.html)
    [Shall we use Clojure - my presentation](http://www.andrewhjon.es/142343729)
    [The future of Lisp](http://blog.8thlight.com/steven-degutis/2011/08/15/future-of-lisp.html)
    [Edit Clojure by its parse tree on your iPad - Lisping adds support for Clojure](http://slidetocode.com/2012/06/26/lisping-supports-clojure/)
    [Messin With Core.logic](http://www.clojure.net/2012/03/26/Messin-with-core.logic/)
    [A Concise Guide to Clojure (under construction)](http://www.cis.upenn.edu/~matuszek/Concise%20Guides/Concise%20Clojure.html)
    [Dsl Examples](http://www.clojure.net/2012/02/22/DSL-Examples/)
    [(take 6 ambrose-bonnaire-sergeant)](http://clojure.com/blog/2011/12/20/take6-ambrose-bonnaire-sergeant.html)
    [All Your HBase Are Belong to Clojure](http://twitch.nervestaple.com/2012/01/12/clojure-hbase/)
    [clojure log - Nov 24 2012](http://clojure-log.n01se.net/)
    [Real world Clojure](http://tech.puredanger.com/2011/10/20/real-world-clojure/)
    [Up and Running with Clojure](http://blog.carbonfive.com/2011/10/20/up-and-running-with-clojure/)
    [Writing Tetris in Clojure](http://codethat.wordpress.com/2011/09/10/writing-tetris-in-clojure/)
    [What's wrong with Mustache templates and how it can be improved](
      http://chrisvest.name/whats-wrong-with-mustache-templates-and-how-it-can-be-improved.html)
    [The Clojure Community and Me](http://blog.raynes.me/blog/2011/11/27/the-clojure-community-and-me/)
    [Lojic Part One](http://clojure.com/blog/2011/12/05/lojic-part-one.html)

mixin Lists
  :markdown
    [Clojure API 文档](http://clojure_api_cn.readthedocs.org/en/latest/index.html#)
    [Clojure Libraries](http://clojure-libraries.appspot.com/)
    [Disclojure.org](http://disclojure.org/)
    [clojurewest2012-slides / README.md](https://github.com/strangeloop/clojurewest2012-slides/blob/master/README.md)
    [可落叶儿.. Clojure Handbook](http://zoomquiet.org/res/scrapbook/ZqFLOSS/data/20120301214245/)
    [Hyperpolyglot: Lisp: Common Lisp, Scheme, Clojure, Emacs Lisp --a side-by-side reference sheet](http://hyperpolyglot.org/lisp)
    [The Clojure Toolbox](http://www.clojure-toolbox.com/)
    [First Conj 2011 Videos Available](http://clojure.com/blog/2012/01/31/first-conj-2011-videos-available.html)
    [Minus search?q=Clojure](http://minus.com/search?q=clojure)
    [This is the home of the Clojure Documentation space.](http://dev.clojure.org/display/doc/Home)
    [Bliptv Clojure](http://blip.tv/clojure)

mixin Cljs
  :markdown
    [ClojureScript Github](https://github.com/clojure/clojurescript)
    [Himera. ClojureScript compiler as web service](http://himera.herokuapp.com/index.html)

mixin Node
  :markdown
    [node-clojurescript](http://michaelsbradleyjr.github.com/node-clojurescript/)
    [Is NodeJs faster than Clojure?](http://stackoverflow.com/questions/6216888/is-nodejs-faster-than-clojure)
    [Compiling Clojure to JavaScript, pt. 3 – The Himera Model](
      http://blog.fogus.me/2012/03/27/compiling-clojure-to-javascript-pt-3-the-himera-model/)
    [ClojureScript and Node.js](http://mmcgrana.github.com/2011/09/clojurescript-nodejs.html)
    [Writing Node.js modules in ClojureScript](http://blog.sourceninja.com/writing-node-js-modules-in-clojurescript/)

mixin Browser
  :markdown
    [ClojureScript 通过 Javascript 将 Clojure 引入到浏览器端](http://www.infoq.com/cn/news/2011/08/clojurescript)
    [ClojureScript Demo : Convex Hull](http://jng.imagine27.com/index.php/2011-07-23-101007_clojurescript_demo_convex_hull.html)
    [Overtone](http://overtone.github.com/)
    [Statistical Graphics, ClojureScript, &c.](http://www.infoq.com/presentations/Statistical-Graphics-ClojureScript)
    [Beyond Ninjas: DOM Manipulation with ClojureScript and Domina](http://www.infoq.com/presentations/ClojureScript-Domina)
    [Hello, Backbone and ClojureScript](
      http://squirrel.pl/blog/2012/10/20/hello-backbone-and-clojurescript/)

mixin Coffee
  :markdown
    [Comparing JavaScript, CoffeeScript & ClojureScript](
      http://dosync.posterous.com/comparing-javascript-coffeescript-clojurescri)
    [ClojureScript vs Coffeescript](http://metaphysicaldeveloper.wordpress.com/2011/08/28/clojurescript-vs-coffeescript/)
    [Reusable Abstractions in CoffeeScript (and JavaScript!)](
      https://github.com/raganwald/homoiconic/blob/master/2012/01/reuseable-abstractions.md#readme)
    [Lazy Evalution vs. Macros](http://dosync.posterous.com/lazy-evalution-vs-macros)

mixin Cljs-details
  :markdown
    [Getting started with ClojureScript and Noir](
      http://djhworld.github.com/2012/02/12/getting-started-with-clojurescript-and-noir.html)
    [过去5年编程语言的演化（下）](
      http://heikezhi.com/2011/11/15/programming-language-development-the-past-5-years-part-2/)
    [Rich Hickey on Clojure 1.4's Extensible Reader, ClojureScript](http://www.infoq.com/interviews/hickey-clojure-reader)
    [The ClojureScript Compilation Pipeline](http://blog.fogus.me/2012/04/25/the-clojurescript-compilation-pipeline/)
    [(feedback :clojurescript)](http://jeditoolkit.com/2012/09/16/coljurescript-feedback.html)
    [ClojureScript - Better Semantics at Low Low Prices!](http://www.infoq.com/presentations/ClojureScript-Optimizations)
    [Rich Hickey Unveils ClojureScript](http://blip.tv/clojure/rich-hickey-unveils-clojurescript-5399498)
    [GSOC 2012 : ClojureScript pluggable backend infrastructure and Lua backend](
      http://raphamiard.posterous.com/gsoc-2012-pluggable-backend-infrastructure-an)

mixin Else-cljs
  :markdown
    [Have you ever had a conversation with your computer?](http://talkingtomachines.org/chapter/1/1)

mixin disqus
  .comment
    .title.comment Comments
    div#disqus_thread
    script
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'coffeescriptcn'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    noscript
      span Please enable JavaScript to view the
      a(href="http://disqus.com/?ref_noscript") comments powered by Disqus
    a(href="http://disqus.com",class="dsq-brlink")
      span comments powered by
      span(class="logo-disqus") Disqus

doctype 5
html
  head
    title Clojure
    meta(charset="utf8")
    link(rel="stylesheet",href="page.css")
    //- script(src="http://192.168.1.101:7777/doodle.js")
  body
    #navigation
      //- #center
      a(href="#clj-nav") Clojure
      a(href="#cljs-nav") ClojureScript
      a(href="#comment-nav") About
    #wrap
      a.anchor(name="clj-nav")
      #clj
        .section
          .link Official
          .content: mixin Official
        .section
          .link Lists
          .content: mixin Lists
        .section
          .link Learn
          .content: mixin Learn
        .section
          .link Language
          .content: mixin Language
        .section
          .link Book
          .content: mixin Books
        .section
          .link Resources
          .content: mixin Resources
        .section
          .link Talks
          .content: mixin Talks
        .section
          .link Tools
          .content: mixin Tools
        .section
          .link Build
          .content: mixin Deploy
        .section
          .link Projects
          .content: mixin Projects
        .section
          .link Blogs
          .content: mixin Blogs
        .section
          .link Editor
          .content: mixin Editor

      a.anchor(name="cljs-nav")
      #cljs
        .section
          .link Node
          .content
            mixin Node
        .section
          .link Browser
          .content: mixin Browser
        .section
          .link Cljs-details
          .content: mixin Cljs-details
        .section
          .link Coffee
          .content: mixin Coffee
        .section
          .link Else-cljs
          .content: mixin Else-cljs
      a.anchor(name="comment-nav")
      #comments
        .section
          .link comments
          .content
            mixin disqus